[submodule "sbdb-private"]
	path = sbdb-private
	url = https://github.com/ArthurCorbellini/sbdb-private.git
[submodule "sbdb-ms-accounts"]
	path = sbdb-ms-accounts
	url = https://github.com/ArthurCorbellini/sbdb-ms-accounts.git
[submodule "sbdb-ms-loans"]
	path = sbdb-ms-loans
	url = https://github.com/ArthurCorbellini/sbdb-ms-loans.git
[submodule "sbdb-ms-cards"]
	path = sbdb-ms-cards
	url = https://github.com/ArthurCorbellini/sbdb-ms-cards.git
[submodule "sbdb-configserver"]
	path = sbdb-configserver
	url = https://github.com/ArthurCorbellini/sbdb-configserver.git
[submodule "sbdb-eurekaserver"]
	path = sbdb-eurekaserver
	url = https://github.com/ArthurCorbellini/sbdb-eurekaserver.git
[submodule "sbdb-gatewayserver"]
	path = sbdb-gatewayserver
	url = https://github.com/ArthurCorbellini/sbdb-gatewayserver.git
