[submodule "microservices-private"]
	path = microservices-private
	url = https://github.com/ArthurCorbellini/microservices-private.git
[submodule "accounts"]
	path = accounts
	url = https://github.com/ArthurCorbellini/ms-accounts.git
[submodule "loans"]
	path = loans
	url = https://github.com/ArthurCorbellini/ms-loans.git
[submodule "cards"]
	path = cards
	url = https://github.com/ArthurCorbellini/ms-cards.git
